<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Login">
        <setting label="Username" type="text"   id="username" default=""/>
        <setting label="Password" type="text"  id="password" option="hidden"  enable="!eq(-1,)" default=""/> 
                         <setting type="sep"/>
        <setting label="Login status" type="text"  id="active" enable="false"   default=""/> 
        <setting label="You are Premium until " type="text" enable="false"  id="premium"  default="Not logged"/> 

    </category>
    <category label="Settings">
	<setting label="Language:" type="lsep"/>
<setting id="language" type="select" label="Choose addon language" values="English|Español (España)|" default="English" />

<setting label="Download:" type="lsep"/>


<setting label="Download path" type="folder" id="download_path" source="auto" />
    </category>
</settings>